@model EadProject.Models.SellerModel
@{
    ViewData["Title"] = "Profile Page";
    SellerModel user = new SellerModel()
            {
                Id = Model.Id,
                Name = Model.Name,
                UserName = Model.UserName,
                Password = Model.Password
            };
}

@section NavList
    {
    <partial name="_NavBarSeller" model="@user" />
}
    <p>
        @user.Id
        @user.Password
        @user.UserName
        @user.Name
        seller profile page
    </p>


    <div class="catalog">
        <div class="container pt-3 pb-5" style=" width: 60%;">
            <h1 style="font-family: 'Permanent Marker', cursive; font-size:4vw; color: navy" class="text-center mb-3 mt-5">@Model.Name</h1>
            <div class="text-center my-5" style="font-size : x-large;">

                <div class="container1">
                    @if (@Model.ProfilePictureURL == null)
                {
                    <img src="~/Images/profile.png" class="rounded-circle image" style="width : 100%;height:100%;"
                     alt="Profile Picture" />
                }
                else
                {
                    <img src=@Model.ProfilePictureURL class="rounded-circle image" style="width : 100%;height:100%;"
                     alt="Profile Picture" />
                }
                <div class="middle text-center">
                    <label class="my-3 text">
                        Update Profile Picture
                        <input type="file" name="profilePicture" accept="image/png, image/jpeg" />
                    </label>
                </div>
            </div>

            <div>
                <h5 class="mb-2 display-5"><strong>@Model.Name</strong></h5>
                <p class="text-muted">@Model.UserName</p>
                <p class="text-muted">Seller</p>
            </div>
        </div>

        <br />
        <br />
        <h1 id="currentOrders" style="font-family: 'Permanent Marker', cursive; font-size:4vw; color: navy" class="text-center mb-3 mt-5">Your current Orders</h1>
        @for (int i = 0; i < 3; i++)
        {
            <div class="card col-md-3  my-5 mx-3" style="width: 22rem; display :inline-block;border:none;">
                <img class="card-img-top" src="~/images/history.jpg" asp-append-version="true" alt="Card image cap" style="height: 10rem">
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-weight : bold">BookName</h5>
                    <p>Author name : BookAuthor</p>

                    <hr />
                    <p><span style="font-weight:bold">Quantity :  </span>Quantity</p>
                    <p><span style="font-weight:bold">Order Delivery Status :  </span>False</p>
                    @{
                        var IDs1 = new Dictionary<string, string>{
                {"orderID" , Convert.ToString(1) }, //the book id
                {"userId" , Convert.ToString(Model.Id) }
                };
                    }
                    <a class="btn  " style="background-color:navy;color:white;" asp-controller="OrderDetails" asp-action="OrderDetailsPage" asp-all-route-data="@IDs1">Order Details</a>


                </div>
            </div>

        }
        @if (ViewBag.SellerBooks != null)
        {
            <h1 id="offeredBooks" style="font-family: 'Permanent Marker', cursive; font-size:4vw; color: navy" class="text-center mb-3 mt-5">Books you Offer</h1>

            @foreach (var book in ViewBag.SellerBooks)
            {
                <div class="card col-md-3  my-5 mx-3" style="width: 22rem; display :inline-block;border:none;">
                    @if (book.BookPictureURL == null)
                    {
                        <img class="card-img-top" src="~/images/history.jpg" asp-append-version="true" alt="Card image cap" style="height: 10rem">

                    }
                    else
                    {
                        <img class="card-img-top" src="@book.BookPictureURL" asp-append-version="true" alt="Card image cap" style="height: 10rem">

                    }
                    <div class="card-body text-center">
                        <h2 class="card-title" style="font-weight : bold">@book.BookName</h2>
                        <p style="color:blue;">Author name : @book.BookAuthor</p>
                        <hr/>
                        <p>@book.shortDescription</p>
                        <hr />
                        <p><span style="font-weight:bold">Category - </span>@book.Category</p>
                        <p><span style="font-weight:bold">Number of pages - </span>@book.NumberOfPages</p>
                        <p><span style="font-weight:bold">Langauge - </span>@book.Language</p>
                        <hr />
                        <p><span style="font-weight:bold">Price :  </span>@book.Price</p>
                        @{
                            var IDs = new Dictionary<string, string>{
                {"bookID" , Convert.ToString(book.Id) }, //the book id
                {"userId" , Convert.ToString(Model.Id) }
                };
                        }
                        <a class="btn  " style="background-color:navy;color:white;" asp-controller="UpdateBookInfo" asp-action="UpdateBookInfoPage" asp-all-route-data="@IDs">Update Details</a>

                    </div>
                </div>
            }
        }


        //


        <br /><br />

        <a class="btn  " style="background-color:navy;color:white;" asp-controller="Home" asp-action="HomePage">
            Logout
        </a>


    </div>
</div>